@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
    background-color: #708090;

  line-height: 1.6;
}

h1 {
  text-align: center;
  color: white;
  line-height: 1.8;
}
h2 {
  text-align: center;
  color: white;
  line-height: 1.8;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

span {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: x-large;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.iconClass {
  color: white;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.boxTimer {
  width: 180px;
  height: 120px;
  border: 4px solid #2f4f4f;
  border-radius: 20px;
  margin: auto;
}
.boxTimerWarning {
  width: 180px;
  height: 120px;
  border: 4px solid #2f4f4f;
  border-radius: 20px;
  margin: auto;

  background-color: red;
}
